#main {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:40px;
	
	-webkit-box-shadow: 0px 5px 10px #888;
}
#tabbar {
	padding: 2px 5px 3px 5px;
	
	border:1px solid #cccccc;
	border-radius:5px 5px 0px 0px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,#f5f6f6), 
		color-stop(21%,#dbdce2), 
		color-stop(49%,#b8bac6), 
		color-stop(80%,#dddfe3), 
		color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */ 
	
}
.tab {
	display:inline-block;
	-webkit-transition-property:background-color;
	-webkit-transition-duration: 0.5s;
	text-align:center;
	padding:2px;
	width:80px;
	border-radius:6px;
	-webkit-box-shadow: inset 0px 2px 5px #888;
	margin:4px;
	background-color:#cccccc;
	
}
.tab:hover {
	background-color:#ffffff;
}
.active {
	background-color:#ff0000;
}

#toolbar{
	height:32px;
	border:1px solid #cccccc;
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,#f5f6f6), 
		color-stop(21%,#dbdce2), 
		color-stop(49%,#b8bac6), 
		color-stop(80%,#dddfe3), 
		color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
}

#editor {
	position:relative;
	height:80%;
	border:0px solid #cccccc;
	border-left-width:1px;
	border-right-width:1px;
}
#debug {
	border:1px solid #cccccc;
	width:100%;

}